body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.topo{
    background-color: #4b5320;
}

.logo img{
    margin-left: 100px;
    width: 200px;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

nav a:hover{
    text-decoration: underline;
    color: #b8a369;
}

.carousel-item{
    height: 700px;
}

.carousel-caption h2{
    font-size: 36px;
}

.carousel-caption{
    text-align: left;
}

.more{
    background-color: #4b5320;
    color: white;

}

.sub{
    color: #4b5320;
    margin-top: 50px;
}

.comment{
    color: #4b5320;
    font-size: 18px;
}

.blocos{
    margin: auto;
}

.bloco{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px 80px;
}
.bloco2{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 23px;
}
.icon{
    font-size: 60px;
    color: #4b5320;
    margin-bottom: 20px;
}

.courses{
    background-color: #e6e7e7a8;
}

.top img{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 300px;
}
.top2 img{
    border-radius: 12px;
    width: 100%;
    height: 300px;
}

.meio{
    color: white;
    background-color: #4b5320;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.legenda{
    text-align: left;
    padding: 12px;
    border-radius: 0 0 12px 12px;
}
.price{
    text-align: left;
    font-size: 24px;
}

.p1{
    color: gray;
    font-size: 15px;
}
.bloco2B{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 23px;
    margin-top: 35px;
}
.gallery{
    background-color: white;
}
.pictures{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}